.menu-wrapper{
    width: 100%;
    height: 100%;
    .app-icon{
        text-align-last: center;
        padding-top: 6%;
    }

    .row{
        margin-right: 0px;
    }

    .game-options{
        margin-top: 5%;
        display: flex;
        justify-content: center;

        .option{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;
            background-color: #f7f7f7;
            border: 2px solid #EDEDED;
            border-bottom: 2px solid #d6d5d5;
            border-radius: .5rem;
            max-width: 80%;
            width: 300px;
            cursor: pointer;

            h3{
                text-align-last: center;
                font-size: 2em;
            }

            .option-img {
                height: 300px;
            }

            .icon-row{
                width: 100%;

                mat-icon{
                    float: right;
                    color: #F6AE2D;
                    cursor: pointer;
                }
            }
        }
    }
}