<initial-screen></initial-screen>

<div class="menu-wrapper">
    <div class="col-12 app-icon">
        <img src="assets/icons/icon-192x192.png" alt="Science Memory Logo">
    </div>

    <div class="row game-options">
        <div class="col-12 col-lg-3 option" (click)="openBoardGame('dino')">
            <img (mouseover)="speak('dinossauro')" src="assets/game-options-images/JW_T-Rex.png" click="openBoardGame('dino')" alt="Dinossaur Option" class="option-img">
            <h3>DINOSSAURO</h3>
        </div>

        <div class="col-12 col-lg-3 option" (click)="openBoardGame('space')">
            <img (mouseover)="speak('espaço')" src="assets/game-options-images/nave-espacial.png" alt="Space Option" class="option-img">
            <h3>ESPAÇO</h3>
        </div>

        <div class="col-12 col-lg-3 option" (click)="openBoardGame('lego')">
            <img (mouseover)="speak('lego')" src="assets/game-options-images/lego.png" alt="Lego Option" class="option-img">
            <h3>LEGO</h3>
        </div>

    </div>

</div>