<initial-screen></initial-screen>

<div class="menu-wrapper">
    <div class="col-12 app-icon">
        <img src="assets/icons/icon-192x192.png" alt="Science Memory Logo">
    </div>

    <div class="row game-options">
        <div class="col-12 col-lg-4 option">
            <div class="icon-row">
                <mat-icon (click) = "openVideoDialog('dinossaur')" matTooltip= "Vídeo Informativo">info</mat-icon>
            </div>
            <img (mouseover)="speak('dinossauro')" (click)="openBoardGame('dino')"
                src="assets/game-options-images/JW_T-Rex.png" click="openBoardGame('dino')" alt="Dinossaur Option"
                class="option-img">
            <h3>DINOSSAURO</h3>
        </div>

        <div class="col-12 col-lg-4 option">
            <div class="icon-row">
                <mat-icon (click) = "openVideoDialog('space')" matTooltip= "Vídeo Informativo">info</mat-icon>
            </div>
            <img (mouseover)="speak('espaço')" (click)="openBoardGame('space')"
                src="assets/game-options-images/nave-espacial.png" alt="Space Option" class="option-img">
            <h3>ESPAÇO</h3>
        </div>

        <div class="col-12 col-lg-4 option">
            <div class="icon-row">
                <mat-icon (click) = "openVideoDialog('lego')" matTooltip= "Vídeo Informativo">info</mat-icon>
            </div>
            <img (mouseover)="speak('lego')" (click)="openBoardGame('lego')" src="assets/game-options-images/lego.png"
                alt="Lego Option" class="option-img">
            <h3>LEGO</h3>
        </div>

        <div class="col-12 col-lg-4 option">
            <div class="icon-row">
                <mat-icon (click) = "openVideoDialog('aviao')" matTooltip= "Vídeo Informativo">info</mat-icon>
            </div>
            <img (mouseover)="speak('avião')" (click)="openBoardGame('aviao')" width="300" height="370"
                src="assets/game-options-images/aviao.png" alt="Airplane Option" class="option-img">
            <h3>AVIÃO</h3>
        </div>

    </div>

</div>