@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body{
    overflow: auto;
    width: 100%;
    margin: 0px !important;
    height:100vh;

    font-family: 'Yusei Magic', sans-serif;;
}

